* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#search{
  width: 100%;
  padding: 20px 20rem;
  font-size: 25px;
}
.container {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  
flex-wrap: wrap;
  padding: 10vw 20vw;
}

.people{
  display: flex;
  flex-wrap: wrap;
}
.shweta {
  padding: 30px;
}
.shweta > img {
  border-radius: 50%;
}
.shweta > h2 {
  text-align: center;
}
