*{
    margin: 0;
    padding: 0
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
.container{ 
    width: 400px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(200, 183, 183);
}
.greenline{
    width: 0%;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(54, 162, 192);
}